= simple_form_for [@topic, @topic.comments.build], :url => forum_topic_comments_path(topic_id: @topic.id) do |c|
  = c.input :content, label: "Comment", :input_html => { rows: 5 }
  = c.submit "Post reply"
