h1 Edit your comment

= simple_form_for [@topic, @comment], :url => forum_topic_comment_path(topic_id: @topic.id) do |c|
  = c.input :content, label: "Comment", :input_html => { rows: 5 }
  = c.submit
