h1 = @event.title
p = @event.event_organizer
p = @event.description
p = @event.date
p = @event.time_start
p = @event.time_end
p = @event.address
p = @event.state
p = @event.zip_code
p = @event.dress_code
p = @event.price
p = @event.food_provided
p = @event.notes
