@import "bootstrap-sprockets";
@import "bootstrap";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

@font-face {
  font-family: "Mix Redux";
  src: font-url("Mix-Redux.otf") format("truetype");
}

.fa-asterisk {
  color: red;
}
